@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 10px;
    right: 10px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    background-size: contain;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
    display: none;
}

.react-draggable {
    position: absolute;
    z-index: 9;
    top: 0;
}

.edit-banner {
    & + .react-resizable-handle {
        display: block;
    }
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: url(https://www.pngmart.com/files/3/Cursor-Arrow-PNG-Picture.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 300ms;
    z-index: 999;

    &__anim {
        border-radius: 50%;
        width: 0px;
        height: 0px;
        opacity: 1;
        will-change: opacity, width, height, border;
        top: 0px;
        left: 0px;
        transform: translate(-50%, -50%);
        position: absolute;
        margin: auto;
        border: solid black;
        border-width: 0;
        z-index: -2;
    }

    &--click {
        .cursor__anim {
            border-width: 2px;
            width: 50px;
            height: 50px;
            opacity: 0;
            transition: 300ms;
        }
    }
}