@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Caveat:wght@500;700&family=Handjet:wght@500;700&family=Lora:wght@500;700&family=Noto+Sans+JP:wght@500;700&family=Oswald:wght@500;700&family=Pixelify+Sans:wght@500;700&family=Playfair+Display:wght@500;700&family=Press+Start+2P&family=Rubik+Mono+One&family=Russo+One&family=Sofia+Sans:wght@500;700&display=swap');


body {
    overflow: hidden;
}

.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 10px;
    right: 10px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    background-size: contain;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
    display: none;
}

.react-draggable {
    position: absolute;
    z-index: 9;
    top: 0;
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: url(https://www.pngmart.com/files/3/Cursor-Arrow-PNG-Picture.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 300ms;
    z-index: 999;
    opacity: 0.5;

    &__anim {
        border-radius: 50%;
        width: 0px;
        height: 0px;
        opacity: 1;
        will-change: opacity, width, height, border;
        top: 0px;
        left: 0px;
        transform: translate(-50%, -50%);
        position: absolute;
        margin: auto;
        border: solid black;
        border-width: 0;
        z-index: -2;
    }

    &--click {
        .cursor__anim {
            border-width: 2px;
            width: 50px;
            height: 50px;
            opacity: 0;
            transition: 300ms;
        }
    }
}

.news {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    &__title {
        font-family: 'Lora', serif;;
    }
}

.ad {
    cursor: pointer;
    &-1 { font-family: 'Caveat', cursive; }
    &-2 { font-family: 'Handjet', cursive; }
    &-3 { font-family: 'Noto Sans JP', sans-serif; }
    &-4 { font-family: 'Oswald', sans-serif; }
    &-5 { font-family: 'Pixelify Sans', cursive; }
    &-6 { font-family: 'Playfair Display', serif; }
    &-7 { font-family: 'BIZ UDPGothic', sans-serif; }
    &-8 { font-family: 'Press Start 2P', cursive; }
    &-9 { font-family: 'Rubik Mono One', sans-serif; }
    &-10 { font-family: 'Russo One', sans-serif; }
    &-11 { font-family: 'Sofia Sans', sans-serif; }

    &__info {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

.handle {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: move;
    border: 1px solid black;
    display: none;
}

.mail {
    &--open {}
    &--close {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 35px;
    }
}


.new-message {
    animation: newMessAnim 3s infinite;
}

@keyframes newMessAnim {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-2deg);
    }
    40% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.mblock {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &--edit {
        & + .react-resizable-handle {
            display: block;
        }
    }
}

